<div class="row">
  <div class="col-md-3">
    <div class="card-counter primary">
      <mat-icon class="i">supervisor_account</mat-icon>
      <span class="count-numbers">{{adminCount}}</span>
      <span class="count-name">Administrators</span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter danger">
      <mat-icon class="i">supervisor_account</mat-icon>
      <span class="count-numbers">{{userCount}}</span>
      <span class="count-name">Users</span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter success">
      <mat-icon class="i">web</mat-icon>
      <span class="count-numbers">{{appStatus}}</span>
      <span class="count-name">App Status</span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter info">
      <mat-icon class="i">storage</mat-icon>
      <span class="count-numbers">{{dbDate}}</span>
      <span class="count-name">DB Back-up</span>
    </div>
  </div>
</div>
<br>

<mat-card>
  <mat-form-field style="display: block; margin: 0 auto;">
    <mat-label>Choose a year</mat-label>
    <mat-select (selectionChange)="visitorChart($event)">
      <mat-option *ngFor="let year of yearsVisitor" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div id="chartContainer" style="height: 370px;"></div>
</mat-card>

<br>

<mat-card>
    <mat-form-field style="display: block; margin: 0 auto;">
      <mat-label>Choose a year</mat-label>
      <mat-select (selectionChange)="conversionRateChart($event)">
        <mat-option *ngFor="let year of yearsVisitor" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div id="chartContainer4" style="height: 370px;"></div>
  </mat-card>

  <br>

<div class="row">
  <div class="col">
    <mat-card>
      <mat-form-field style="display: block; margin: 0 auto;">
        <mat-label>Choose a year</mat-label>
        <mat-select (selectionChange)="courseChart($event)">
          <mat-option *ngFor="let year of yearsVisitor" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div id="chartContainer3" style="height: 370px;"></div>
    </mat-card>
  </div>

  <div class="col">
    <mat-card>
      <mat-form-field style="display: block; margin: 0 auto;">
        <mat-label>Choose a year</mat-label>
        <mat-select (selectionChange)="schoolChart($event)">
          <mat-option *ngFor="let year of yearsVisitor" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div id="chartContainer2" style="height: 370px;"></div>
    </mat-card>
  </div>
</div>

<br>

<div class="row">
    <div class="col">
      <mat-card>
          <mat-form-field style="display: block; margin: 0 auto;">
            <mat-label>Choose a year</mat-label>
            <mat-select (selectionChange)="surveyChart($event)">
              <mat-option *ngFor="let year of yearsVisitor" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div id="chartContainer5" style="height: 370px;"></div>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-form-field style="display: block; margin: 0 auto;">
          <mat-label>Choose a year</mat-label>
          <mat-select (selectionChange)="surveyChart2($event)">
            <mat-option *ngFor="let year of yearsVisitor" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div id="chartContainer6" style="height: 370px;"></div>
      </mat-card>
    </div>
  </div>

<br>

<mat-card>
  <mat-tab-group>
    <mat-tab label="Admin">
      <div class="container mb-4 mt-4">
        <p style="font-size: 12px;">Admin Activity Monitoring</p>
        <h2 style="margin-top: -3vh;">Admin Logs</h2>
        <hr>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <span style="float: right;">
          <button mat-raised-button style="margin-right: 1vh;" (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Excel</button>
          <button mat-raised-button style="margin-right: 1vh;" (click)="exporter.exportTable('csv')">Csv</button>
          <button mat-raised-button style="margin-right: 1vh;" (click)="exporter.exportTable('json')">Json</button>
          <button mat-raised-button (click)="exporter.exportTable('txt')">Txt</button>
        </span>

        <div class="mat-elevation-z8">
          <table mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> ID </th>
              <td mat-cell *matCellDef="let row" style="width: 25%;"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> Admin ID </th>
              <td mat-cell *matCellDef="let row" style="width: 25%;"> {{row.user}} </td>
            </ng-container>

            <ng-container matColumnDef="msg">
              <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Message Log </th>
              <td mat-cell *matCellDef="let row" style="width: 25%;"> {{row.msg_log}} </td>
            </ng-container>

            <ng-container matColumnDef="timestamp">
              <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Timestamp </th>
              <td mat-cell *matCellDef="let row" style="width: 25%;"> {{row.created_at}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Visitor">
      <app-userlog></app-userlog>
    </mat-tab>
</mat-tab-group>
</mat-card>
