<form [formGroup]="form" (ngSubmit)="returnToParent(form.value)">
    <h2 mat-dialog-title>Choose a school</h2>
    <mat-dialog-content class="mat-typography">
      <mat-form-field style="width: 100%;">
        <mat-label>Schools</mat-label>
        <mat-select formControlName="school">
          <mat-option *ngFor="let item of data" [value]="item.id">
            {{item.school_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button type="button" mat-button mat-dialog-close [disabled]="flag">Cancel</button>
      <button type="submit" mat-button [disabled]="flag">Submit</button>
    </mat-dialog-actions>
  </form>

