<section class="fdb-block" style="background-image: url('./assets/imgs/shapes/1.svg');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1>About Us</h1>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-lg-3">
        <img alt="image" class="img-fluid" src="./assets/imgs/photos/fireworks-1.jpg">
      </div>

      <div class="col-6 col-lg-3">
        <img alt="image" class="img-fluid" src="./assets/imgs/photos/fireworks-2.jpg">
      </div>

      <div class="col-12 col-lg-6 pt-3">
        <p class="lead text-left">Chupols is a team formed in FEU Institute of Technology, comprising of good students who are good at their own specific fields.</p>
        <p class="lead text-left">Chupols is the team who created the OACC which helps students to pick college courses.</p>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <h2>About OACC</h2>

        <p>
          A quiz is a form of game or mind sport, in which the players attempt to answer question correctly.
          It is a game to test your knowledge and to determine the traits and characteristics of the quiz taker.
          In addition, there are a lot of Filipinos having a hard time in choosing which course to take in college.
          After that, there are some students in high school that does not know which course to take in them.
          In other words, the students choose a course without even researching what the course do.
          Therefore, the student will have hard time taking the course.
          In addition, the students will spend years until they notice that they have chose the wrong course, resulting in waste of time, finance and effort on a wrong course.
          In conclusion, students are having a difficult time in choosing the appropriate course to their liking.
        </p>

        <p>OACC or Online Assessment for College Courses is an application which helps students where they can possibly study and what course they can possibly take.</p>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block team-8">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>Team Chupols</h1>
        <p class="lead">The team who brought you OACC.</p>
      </div>
    </div>

    <div class="row-100"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="./assets/imgs/people/8.jpg">
          </div>

          <div class="col-8">
            <h3><strong>Jomari Francisco</strong></h3>
            <p class="lead">Documentation</p>

            <p>Worked with documentation related works. Documented every inch of details regarding the project.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="./assets/imgs/people/7.jpg">
          </div>

          <div class="col-8">
            <h3><strong>Juan Carlos Gabarda</strong></h3>
            <p class="lead">Documentation</p>

            <p>Worked with documentation related works. Documented every inch of details regarding the project.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-70"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="./assets/imgs/people/9.jpg">
          </div>

          <div class="col-8">
            <h3><strong>Junkevin Louis Jong</strong></h3>
            <p class="lead">Documentation</p>

            <p>Worked with documentation related works. Documented every inch of details regarding the project.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="./assets/imgs/people/4.jpg">
          </div>

          <div class="col-8">
            <h3><strong>John Moses Tiamzon</strong></h3>
            <p class="lead">Developer</p>

            <p>Developed the project using Angular (TypeScript) and NodeJS. Also, integrated cloud technologies in the project.</p>
          </div>
        </div>
      </div>

      <div class="row-70"></div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="./assets/imgs/people/4.jpg">
          </div>

          <div class="col-8">
            <h3><strong>Kent Brian Villanueva</strong></h3>
            <p class="lead">Documentation</p>

            <p>Worked with documentation related works. Documented every inch of details regarding the project.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





