<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start" style="background-color: white;">
    <div style="height:10vh;"></div>

      <mat-nav-list>
        <h3 mat-subheader>Content Management</h3>

        <a mat-list-item routerLink="" (click)="changeAppName('Dashboard', '/admin/dashboard')">
          <mat-icon class="ml-2 mr-3">dashboard</mat-icon>
          <span class="mt-1">Dashboard</span>
        </a>

          <a mat-list-item routerLink="" (click)="changeAppName('User Management', '/admin/users')">
            <mat-icon class="ml-2 mr-3">supervisor_account</mat-icon>
            <span class="mt-1">User Management</span>
          </a>

          <a mat-list-item routerLink="" (click)="changeAppName('School Management', '/admin/school')">
            <mat-icon class="ml-2 mr-3">school</mat-icon>
            <span class="mt-1">School Management</span>
          </a>

          <a mat-list-item routerLink="" (click)="changeAppName('Course Management', '/admin/course')">
            <mat-icon class="ml-2 mr-3">library_books</mat-icon>
            <span class="mt-1">Course Management</span>
          </a>

          <a mat-list-item routerLink="" (click)="changeAppName('Question Management', '/admin/question')">
            <mat-icon class="ml-2 mr-3">question_answer</mat-icon>
            <span class="mt-1">Question Management</span>
          </a>

          <a mat-list-item routerLink="" (click)="changeAppName('Decision Tree', '/admin/tree')">
            <mat-icon class="ml-2 mr-3">category</mat-icon>
            <span class="mt-1">Decision Tree</span>
          </a>

          <mat-divider class="mt-4 mb-3"></mat-divider>

          <h3 mat-subheader>Settings</h3>

          <a mat-list-item routerLink="" (click)="changeAppName('Configuration', '/admin/config')">
            <mat-icon class="ml-2 mr-3">tune</mat-icon>
            <span class="mt-1">Configuration</span>
          </a>

          <a mat-list-item routerLink="" (click)="changeAppName('Help', '/admin/help')">
              <mat-icon class="ml-2 mr-3">live_help</mat-icon>
              <span class="mt-1">Help</span>
          </a>

          <mat-divider class="mt-4 mb-3"></mat-divider>

          <h3 mat-subheader>User Account</h3>

          <a mat-list-item routerLink="" (click)="changeAppName('My Account', '/admin/account')">
            <mat-icon class="ml-2 mr-3">account_circle</mat-icon>
            <span class="mt-1">My Account</span>
          </a>

          <a class="mb-3" mat-list-item routerLink="" (click)="destroySession()">
            <mat-icon class="ml-2 mr-3">exit_to_app</mat-icon>
            <span class="mt-1">Logout</span>
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" id="icon-color">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ml-2"> {{ pageName }} </span>

      <div class="toolbar-spacer"></div>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="" (click)="changeAppName('My Account', '/admin/account')">
          <mat-icon>account_circle</mat-icon>
          <span>My Account</span>
        </a>

        <a mat-menu-item (click)="destroySession()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>

    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
