<header class="bg-dark">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" routerLink="/">
        <!-- <img src="./assets/imgs/logo.png" height="30" alt="image"> -->
        OACC
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" style="color: white;"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav3">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home <!--<span class="sr-only">(current)</span>--></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/feature">Features</a>
          </li>

          <a class="btn btn-outline-primary ml-md-3" routerLink="/assessment">Take Assessment</a>
        </ul>

      </div>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="fdb-block footer-small bg-dark">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8">
        <ul class="nav justify-content-center justify-content-md-start">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" (click)="changePage('/')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" (click)="changePage('/about')">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" (click)="changePage('/feature')">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="" (click)="changePage('/assessment')">Assessment</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-right">
        © 2019 Chupols. All Rights Reserved
      </div>
    </div>
  </div>
</footer>


