<section class="fdb-block" style="background-image: url('./assets/imgs/shapes/1.svg');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1>Assessment</h1>
      </div>
    </div>
  </div>
</section>

<div class="container">
    <mat-card style="margin-top: 5vh; margin-bottom: 5vh; background-color: #EDF0F5; margin-left: auto; margin-right: auto; text-align: center;">
      <p style="color: black;">Before we start the assessment, we need you to fill-up the fields below.</p>

      <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
        <mat-form-field style="width: 60vh;">
          <input matInput placeholder="Full name" formControlName="fname" required>
          <mat-error *ngIf="fname.hasError('required')">
            Full name field is required.
          </mat-error>

          <mat-error *ngIf="fname.hasError('pattern')">
            Full name is not valid.
          </mat-error>
        </mat-form-field>
        <br>
        <mat-radio-group aria-label="What is your gender?" formControlName="gender">
          <label>What is your gender?</label>
          <br>
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female" style="margin-left: 16px;">Female</mat-radio-button>
          <mat-error *ngIf="gender.hasError('required')" style="font-size: 12px;">
            Gender field is required.
          </mat-error>
        </mat-radio-group>
        <br>
        <mat-form-field style="width: 60vh;">
          <input matInput placeholder="Age" formControlName="age" required>
          <mat-error *ngIf="age.hasError('required')">
            Age field is required.
          </mat-error>

          <mat-error *ngIf="age.hasError('pattern')">
            Age pattern incorrect.
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 60vh;">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="email.hasError('required')">
            Email field is required.
          </mat-error>

          <mat-error *ngIf="email.hasError('email')">
            Email pattern incorrect.
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 60vh;" >
          <input matInput placeholder="Family Annual Income" formControlName="income" required>
          <mat-error *ngIf="income.hasError('required')">
            Family annual income field is required.
          </mat-error>

          <mat-error *ngIf="income.hasError('pattern')">
            Family annual income is not valid.
          </mat-error>
        </mat-form-field>
        <br><br>
        <button type="submit" class="btn btn-success" style="width: 60vh;" [disabled]="disableBtn">Submit</button>
      </form>
    </mat-card>

    <mat-card *ngIf="!schoolHidden" style="margin-top: 5vh; margin-bottom: 5vh; background-color: #EDF0F5; margin-left: auto; margin-right: auto; text-align: center;">
      <p style="color: black;">Based on your family's annual income, these are the schools that you may enroll in. Please choose one.</p>

      <form [formGroup]="schoolForm" (ngSubmit)="submitSchool(schoolForm.value)">
          <mat-form-field style="width: 60vh;">
            <mat-label>Choose School</mat-label>
            <mat-select formControlName="selectedSchool">
              <ng-container *ngFor="let item of school">
                <mat-option *ngIf="annualIncome >= item.min_tuition && annualIncome <= item.max_tuition" [value]="item.id">
                  {{item.school_name}}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="selectedSchool.hasError('required')">
            Please choose a school.
          </mat-error>
          <br><br>
          <button type="submit" class="btn btn-success" style="width: 60vh;" [disabled]="disableBtnS">Proceed</button>
      </form>
    </mat-card>

    <ng-container *ngIf="!questionHidden">
      <mat-card style="margin-top: 5vh; margin-bottom: 5vh; background-color: #3C579A;"></mat-card>

      <form [formGroup]="questionForm" (ngSubmit)="submitAnswers()">
        <ng-container *ngFor="let item of questions; let i = index;">
          <ng-container *ngIf="item.school_id == chosenSchool">
            <mat-card style="background-color: #EDF0F5; margin-bottom: 1vh;">
              {{i+1}}. {{item.question}}
              <br>
              <mat-radio-group aria-label="Select an option" formControlName="userAnswer{{i}}">
                <mat-radio-button value="SA">Strongly Agree</mat-radio-button><br>
                <mat-radio-button value="A">Agree</mat-radio-button><br>
                <mat-radio-button value="NAD">Neither Agree or Disagree</mat-radio-button><br>
                <mat-radio-button value="D">Disagree</mat-radio-button><br>
                <mat-radio-button value="SD">Strongly Disagree</mat-radio-button><br>
              </mat-radio-group>
              <mat-error *ngIf="checkForError(i)">
                Please select an answer.
              </mat-error>
            </mat-card>
          </ng-container>
        </ng-container>
        <br>
         <button type="submit" class="btn btn-success" style="width: 100%;">Submit Assessment</button>
      </form>

      <mat-card style="margin-top: 5vh; background-color: #3C579A;"></mat-card>
      <br>
    </ng-container>
</div>
