<section class="fdb-block" style="background-image: url('./assets/imgs/shapes/1.svg');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1>Features</h1>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12 text-center">
        <h1>OACC Features</h1>
        <p class="lead">Online Assessment for College Courses is an assessment for incoming college students who hasn't decided yet on what course to take. OACC can help them because it has the necessary tools, such as.</p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-4 col-md-5">
        <img alt="image" class="img-fluid" src="./assets/imgs/draws/designer.svg">
      </div>

      <div class="col-12 col-md-5 m-md-auto">
        <h2><strong>Free</strong></h2>
        <p class="lead">Taking the assessment is entirely free. No need to input any card details and such, we just need your name and email and you're good to go.</p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-4 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" src="./assets/imgs/draws/design-life.svg">
      </div>

      <div class="col-12 col-md-5">
        <h2><strong>Exam Anywhere</strong></h2>
        <p class="lead">The assessment is available online, as long as you are connected to the Internet, you can take the exam anywhere anytime irregardless what device you are using.</p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5">
      <div class="col-4 col-md-5">
        <img alt="image" class="img-fluid" src="./assets/imgs/draws/design-community.svg">
      </div>

      <div class="col-12 col-md-5 m-md-auto">
        <h2><strong>Results</strong></h2>
        <p class="lead">After taking the assessment, you will be able to get your results immediately. The results are solely based on your inputs and processed using some of our technologies that we integrated.
        </p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-4 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" src="./assets/imgs/draws/design-life.svg">
      </div>

      <div class="col-12 col-md-5">
        <h2><strong>Notification</strong></h2>
        <p class="lead">We will notify you with your given e-mails. You will be answering questions regarding if you take the course and in what school. This is to ensure if our application really helps students.</p>
        </div>
    </div>
  </div>
</section>




